body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    text-align: center;
}


.hexbutton{
    padding: 1rem;
    font-weight: 600;
    border: 2px solid black;
    background-color: transparent;
    border-radius: 5px;
    font-size: 1.5rem;
}

.hexbutton:hover{
    cursor: pointer;
    background-color: black;
    color: white;
}

.hex{
    font-weight: 600;
    font-size: 2rem;
    text-transform: uppercase;
}

@media (max-width: 400px) {

    
    
}